<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- jsp 이외의 경로를 접근할 수 있게 해준다. -->
	<mvc:annotation-driven />
	<mvc:default-servlet-handler/>
	
	<!-- controller 에서 return 할때, prefix와 suffix를 미리 설정해준다. -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"/>
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 컨트롤러 전체를 스캔해준다. -->
	<context:component-scan base-package="a.cotroller" />
	
	<!-- 서비스 전체 스캔 -->
	<context:component-scan base-package="a.service" />
	
	<!-- datasource 등록 -->
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="ds">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@javadb.cfpufpcglvgh.ap-northeast-2.rds.amazonaws.com:1521:orcl" />
		<property name="username" value="hooAu" />
		<property name="password" value="syss0602" />
	</bean>
	
	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="fac">
		<property name="dataSource" ref="ds"/>
		<property name="mapperLocations">
			<list>
				<value>/WEB-INF/mappers/*_mapper.xml</value>
			</list>
		</property>
	</bean>
	
	<bean class="org.mybatis.spring.SqlSessionTemplate" id="sqlTemplate">
		<constructor-arg name="sqlSessionFactory" ref="fac"/>
	</bean>
	
	
	<!-- txManager 등록 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<constructor-arg name="dataSource" ref="ds"/>
	</bean>
	
	<tx:advice id="tx" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor advice-ref="tx" pointcut="within(a.service.*)"/>
	</aop:config>
	
	<!-- gson 등록 -->
	<bean id="gsonBuilder" class="com.google.gson.GsonBuilder">
		<property name="dateFormat" value="yyyy/MM/dd HH:mm"/>
	</bean>
	<bean id="gson" factory-bean="gsonBuilder" factory-method="create"/>
	
	<!-- mail Sender 등록 -->
	<bean class="org.springframework.mail.javamail.JavaMailSenderImpl" id="mailSender">
		<property name="host" value="smtp.gmail.com" />
		<property name="username" value="rooting0602@gmail.com" />
		<property name="password" value="syss0602" />
		<property name="port" value="587" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>
	
</beans>
